{{ define "main" }}
{{ .Content }}

<h2>Posts</h2>

{{ with .Site.GetPage "section" "blog" }}
  {{ with .OutputFormats.Get "rss" }}
    Subscribe via <a href="{{ .Permalink }}">RSS</a>.
  {{ end }}
{{ end }}

<ul class="blog-posts">
    {{ $articles := where .Site.RegularPages "Section" "eq" "blog" }}
    {{ range $articles }}
    <li>
      <span>
        <i>
          <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
            {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
          </time>
        </i>
      </span>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
    {{ else }}
    <li>
      No posts yet
    </li>
    {{ end }}
  </ul>

{{ end }}

